%html
    %head
        %title Sign in to Instagram

    %body#splash
        %div#splash-header
            %nav.navbar
                .container-fluid
                    .navbar-header.navbar-right
                        = haml :newSearch
                        //%form#user-search.navbar-form.navbar-right{ :action => '/search', :method => 'GET' }
                        //    %div.form-group
                        //        %input.form-control{ :type => "text", :placeholder => "Search", :name => 'username' }
                        //    %button.user-search.search-btn.btn.btn-default{ :type => "submit" }
                        //    %button.tag-search.search-btn.btn.btn-default{ :type => "submit" }
                        //    - if !@signed_in
                        //        %a.btn.btn-success.auth{:href => '/oauth/connect'}Connect with Instagram
            %div.content
                %div.title
                    %div.title-left
                        %span.text FILTER
                    %div.title-icon
                        %div.placeholder
                    %div.title-right
                        %span.text METRY
                        %span.spacer &nbsp;

        #film
            %ul{:style => 'width: 3200px;'}

%script{'defer' => true, 'src' => '../scripts/landing.js'}

%script#filmstrip-template{"type" => "text/template"}
    %a

