%html
    %head
        %title Filterometry

        / Le styles
        %link{ :href => "/bootstrap/css/bootstrapSimplex.min.css", :type => "text/css", :rel => "stylesheet" }
        / add body padding styles
        %link{ :href => "/css/style.css", :type => "text/css", :rel => "stylesheet" }


        %link{ :href => "http://fonts.googleapis.com/css?family=Syncopate:400,700", :type => "text/css", :rel => "stylesheet" }

        %link{ :href => "/favicon-32x32.png", :sizes => "32x32", :type => "image/png", :rel => "icon" }
        %link{ :href => "/favicon-16x16.png", :sizes => "16x16", :type => "image/png", :rel => "icon" }
        %link{ :href => "/favicon-96x96.png", :sizes => "96x96", :type => "image/png", :rel => "icon" }

    %body
        %script{ :type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" }
        %script{ :type => "text/javascript", :src => "../scripts/filterometry.js" }

        %script{'src' => '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js'}
        %script{'src' => '//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js'}

        = yield

        / Placed at the end of the document so the pages load faster
        %script{ :type => "text/javascript", :src =>"/bootstrap/js/bootstrap.js"}
