%form#user-search.navbar-form.navbar-right
    %div.form-group
        %input.form-control{ :type => "text", :placeholder => "Search", :name => 'username' }
    %button.user-search.search-btn.btn.btn-default{ :type => "submit" }
    %button.tag-search.search-btn.btn.btn-default{ :type => "submit" }
    - if !@signed_in
        %a.btn.btn-success.auth{:href => '/oauth/connect'}Connect with Instagram


%script{'defer' => true, 'src' => '../scripts/search.js'}
