%html
    %head
        %title User Images

    %body

        %div#header-container
            %nav.navbar.navbar-default
                .container-fluid
                    %a.navbar-brand{:href => "#"} Filterometry
                    = haml :searchBar

            #progressbar
                .progress.progress-striped.active
                    .progress-bar.progress-bar-success

        #pageContent
            %div#chart
            %div#photos
                %div.photos

%script{'defer' => true, 'src' => '../scripts/highcharts.src.js'}
%script{'defer' => true, 'src' => '../scripts/filterometry.js'}
%script{'defer' => true, 'src' => '../scripts/photoResultsForSearch.js'}
%script#photo-template{"type" => "text/template"}
    %div.filter
    %div.thumbnail
        %img.thumbnail-image
    %div.image-details
        %div.meta
        %a.img-link
            %img.lg-image
