%html
    %head
        %title Results

    %body
        %nav.navbar
            .container-fluid
                .navbar-header.navbar-right
                    //%a.btn.btn-default.auth{:href => '/oauth/connect'}Connect with Instagram
                    %form#user-search.navbar-form.navbar-right{ :action => '/search', :method => 'GET'}
                        %div.form-group
                            %input.form-control{ :type => "text", :placeholder => "Search", :name => 'username'}
                        %button.btn.btn-default{ :type => "submit"}Search by Username

        %div#users
            %div.results-container.col-lg-12
                %h1.results-header
                %div.results

%script{'defer' => true, 'src' => '../scripts/results.js'}

%script#user-template{"type" => "text/template"}
    %a.user-result
        %div.username-container
            %span.username

        %div.user-image-container
            %img.user-image

%script#modal-template{"type" => "text/template"}
    .modal-dialog
        .modal-content
            .modal-header
                %button.close{:type => "button", 'data-dismiss' => "modal", 'aria-hidden' => "true"}x
                %h4.modal-title Authentication Required
            .modal-body
                %p
                    %span You must be authentated and following
                    %span.username
                    %span in order to view this user.
            .modal-footer
                %button.btn.btn-default.close{:type => "button", 'data-dismiss' => "modal"}Close
