%html
    %head
        %title Find a User

    %body
        %h1 Search for a user by name
        %form{:method => "POST"}
            %input{:name => "username"}
            %input{:type => "submit"}


