%html
    %head
        %title Results

    %body
        %nav.navbar
            .container-fluid
                .navbar-header.navbar-right
                    = haml :searchBar
        #pageContent
            %div#users
                %div.user-results-container.col-lg-12
                    %h1.results-header
                    %div.results
            %div#tags
                %div.tag-results-container.col-lg-12
                    %h1.results-header
                    %div.results

%script{'defer' => true, 'src' => '../scripts/userSearchResults.js'}

%script#user-template{"type" => "text/template"}
    %a.user-result
        %div.username-container
            %span.username

        %div.user-image-container
            %img.user-image

%script#tag-template{"type" => "text/template"}
    %a.tag-result
        %span.tag
        %span.tagCount

%script#modal-template{"type" => "text/template"}
    .modal-dialog
        .modal-content
            .modal-header
                %button.close{:type => "button", 'data-dismiss' => "modal", 'aria-hidden' => "true"}x
                %h4.modal-title Authentication Required
            .modal-body
                %p
                    %span You must be authenticated and following
                    %span.username
                    %span in order to view this user.
            .modal-footer
                - if !@signed_in
                    %a.btn.btn-default.auth{:href => '/oauth/connect'}Connect with Instagram
                %button.btn.btn-default.close{:type => "button", 'data-dismiss' => "modal"}Close
