%html
    %head
        %title Sign in to Instagram

    %body#splash
        %div#splash-header
            %div.top-nav
                %div.col-lg-3
                    %a.btn.btn-default{:href => '/oauth/connect'}Connect with Instagram
                    %a.user-search.search-btn.btn.btn-default{:href => '/user-search'}
                    %a.tag-search.search-btn.btn.btn-default{:href => '/tag-search'}

            %div.content
                %div.title
                    %div.title-left FILTER
                    %a{:href => '/oauth/connect'}
                        %div.placeholder
                    %div.title-right METRY&nbsp;

        #film
            %ul{:style => 'width: 3200px;'}

%script{'defer' => true, 'src' => '../scripts/landing.js'}

%script#filmstrip-template{"type" => "text/template"}
    %a

