%html
    %head
        %title Sign in to Instagram

    %body
        %div.col-lg-6
            %div.well.bs-component
                %a.login.btn.btn-primary{:href => '/oauth/connect'}Get Connected



