%html
    %head
        %title User Images

    %body
        %div#chart
        #progressbar
            .progress.progress-striped.active
                .progress-bar.progress-bar-success
        %div#photos
            // %h3 #{@user.username}
            %div.photos

%script{'defer' => true, 'src' => '../scripts/highcharts.src.js'}
%script{'defer' => true, 'src' => '../scripts/filterometry.js'}
%script{'defer' => true, 'src' => '../scripts/user.js'}
%script#photo-template{"type" => "text/template"}
    %div.filter
    %div.image
        %img
