%html
    %head
        %title User Images

    %body
        %nav.navbar
            .container-fluid
                .navbar-header.navbar-right
                    %form#user-search.navbar-form.navbar-right{ :action => '/search', :method => 'GET'}
                        %div.form-group
                            %input.form-control{ :type => "text", :placeholder => "Search", :name => 'username'}
                        %button.btn.btn-default{ :type => "submit"}Search by Username

        %div#chart
        %div#photos
            // %h3 #{@user.username}
            %div.photos

%script{'defer' => true, 'src' => '../scripts/highcharts.src.js'}
%script{'defer' => true, 'src' => '../scripts/filterometry.js'}
%script{'defer' => true, 'src' => '../scripts/user.js'}
%script#photo-template{"type" => "text/template"}
    %div.filter
    %div.image
        %img


