/** Landing Page **/

body {
    background-color: darkgrey;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#splash div.content {
    position: relative;
    margin: 0 auto;
}

#header-container {
    z-index: 20;
    position: fixed;
    width: 100%;
    top: 0;
}

nav.navbar {
    display: block;
    padding-top: 10px;
    margin-bottom: 0px;
}

.modal-footer .btn {
    padding: 8px 12px;
}

a.navbar-brand {
    font-size: 30px;
    font-family: 'Syncopate', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
.search-btn {
    border: 0px;
    width: 36px;
    background-color: cadetblue;
    height: 36px;
    background-size: 30px;
    background-position: center;
}

.search-btn:hover {
    background-color:cadetblue;
}

.tag-search {
    background-image: url(/hashtag-480.png);
}
.tag-search:hover {
    background-image: url(/hashtag-480.png);
}

.user-search {
    background-image: url(/user-256x256.png);
}
.user-search:hover {
    background-image: url(/user-256x256.png);
}

#splash .btn-default.auth {
    margin-top: 2px;
}

.col-lg-3 {
    float: right;
    margin: 0 auto;
}

#splash nav.navbar {
    position: relative;
}

#splash div.title {
    text-align: center;
    font-family: 'Syncopate', sans-serif;
    font-size: 100px;
    font-weight: bold;
}

#splash .title div {
    display: inline-block;
    position: relative;
}

#splash .title .title-icon {
    margin: 0 -40px 0 -40px;
}

#splash .title .placeholder {
    top: 20px;
    width: 115px;
    height: 100px;
    display: inline-block;
    background: url(/Glyph_Logo_thumbnail200.png) no-repeat center;
    background-size: 100px;
}

@media (max-width: 1074px) {
    #splash .title div {
        display: block;
    }
    #splash .title .placeholder {
        top: 0px;
    }
    #splash .title .spacer {
        display: none;
    }
    nav.navbar {
        position: relative;
    }
}
/* Tags results */

a.tag-result {
    color: darkblue;
}

#tags .result {
    padding: 5px;
    background-color: pink;
    border-radius: 5px;
}

/* User results */
#pageContent {
    margin-top: 80px;
}

.progress {
    background-color: transparent;
}

.user-image-container {
    box-shadow: rgba(0, 0, 0, 0.0392157) 0px 0px 0px 1px, rgba(0, 0, 0, 0.0980392) 0px 1px 5px 0px;
    padding: 5px;
    background-color: #FFFFFF;
    border: 1px solid rgba(204, 204, 204, 0.8);
}

img.user-image {
    max-width: 150px;
    border-radius: 2px;
    }

span.username {
    padding-left: 6px;
    color: black;   margin: 0 0 -16px;   max-height: 16px;
    /* text-shadow: 0 1px 0 rgba(255,255,255,.8); */
    line-height: 16px;
    font-size: 13px;
    font-weight: 400;
    font-family: "proxima-nova","Helvetica Neue",Arial,Helvetica,sans-serif;
}

a.user-result {
    background-color: white;
}

.result {
    /* background-color: white; */
    margin: 5px;
    display: inline-block;
}

.result {
}
.results-container {
    display: none;
}

a.user-result:hover {
    text-decoration: none;
}



/* Photo results */

.photo {
    display: inline-block;
    margin: 1px;
    position: relative;
}

.filter {
    display: none;
}


#chart {
    position: fixed;
    width: 50%;
}

#photos {
    float: right;
    width: 50%;
}

img.thumbnail-image {
    max-width: 150px;
    padding: 3px;
}

.thumbnail {
    margin: 1px;
}

/* Photo Details */

.image-details {
    display: none;
}
.details-open .image-details {
    position: absolute;
    left: -75px;
    top: -75px;
    display: block;
    width:300px;
    height: 300px;
    z-index: 5;
}

img.lg-image {
    padding: 4px;
    max-width: 300px;
}

@media (max-width: 1000px) {
    #chart {
        width: 100%;
        position: relative;
    }
    #photos {
        width: 100%;
    }
}

a.login.btn {
    margin: 0 auto;
}

/** Filmstrip */
#film {
    overflow: hidden;
    height: 200px;
  position: relative;
  top: 35px;
  overflow: hidden;
  transition: all 1s;
}


#film:hover ul {
  -webkit-transform: translatex(0px);
  -moz-transform: translatex(0px);
  transform: translatex(0px);
}

#film ul {
  -webkit-transform: translatex(-450px);
  -moz-transform: translatex(-450px);
  transform: translatex(-450px);
  transition: all 1s;
  height: 190px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  list-style: none;
  border-style: solid;
  border-width: 17px 0px;
  -moz-border-image: url(http://i.imgur.com/Sm9CNai.png) 27 repeat stretch;
  -webkit-border-image: url(http://i.imgur.com/Sm9CNai.png) 27 repeat stretch;
  -o-border-image: url(http://i.imgur.com/Sm9CNai.png) 27 repeat stretch;
  border-image: url(http://i.imgur.com/Sm9CNai.png) 27 fill repeat stretch;
}

ul li {
  display: block;
  width: 160px;
  height: 160px;
  margin: 3px 0px 20px 20px;
  background: #000;
  float: left;
}

ul li a {
  display: block;
  width: 100%;
  height: 100%;
  background-size: contain;
}

